{
  "openapi": "3.0.3",
  "info": {
    "title": "Cryptouse API",
    "description": "API documentation for Cryptouse services, including on-chain deposits, PIX payments, and order management.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://server.cryptouse.com.br",
      "description": "Production Server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "OrderOnChain": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The value in BRL of the order"
          },
          "cryptoValue": {
            "type": "number",
            "description": "The value in cryptocurrency"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment",
            "enum": [
              "PENDING",
              "COMPLETED",
              "REFUNDED",
              "PARTIAL_ORDER",
              "FAILED"
            ]
          },
          "network": {
            "type": "string",
            "description": "Blockchain network used for the transaction",
            "enum": [
              "eth",
              "bsc",
              "polygon"
            ]
          },
          "asset": {
            "type": "string",
            "description": "Cryptocurrency asset type",
            "enum": [
              "USDT",
              "USDC",
              "DAI",
              "BUSD"
            ]
          },
          "address": {
            "type": "string",
            "description": "Cryptocurrency wallet address"
          },
          "paymentLinkId": {
            "type": "string",
            "description": "Unique identifier for the payment link"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "orderId": {
                "type": "string"
              },
              "tokenAddress": {
                "type": "string"
              },
              "network": {
                "type": "string"
              },
              "walletIndex": {
                "type": "number"
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          }
        }
      },
      "PayCryptoPix": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "network": {
            "type": "string",
            "description": "Blockchain network used for the payment",
            "enum": [
              "bsc",
              "eth"
            ]
          },
          "value": {
            "type": "number",
            "description": "The value in BRL of the payment"
          },
          "originalValue": {
            "type": "number",
            "description": "The original value without fees"
          },
          "cryptoValue": {
            "type": "number",
            "description": "The value in cryptocurrency"
          },
          "pixQrcode": {
            "type": "string",
            "description": "The QR code content for the PIX payment"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment",
            "enum": [
              "PENDING",
              "COMPLETED",
              "REFUNDED",
              "PARTIAL_ORDER",
              "FAILED"
            ]
          },
          "pixKeyReceiver": {
            "type": "string",
            "description": "PIX key of the receiver"
          },
          "paymentReference": {
            "type": "string",
            "description": "Payment reference"
          },
          "pixKeyType": {
            "type": "string",
            "description": "Type of PIX key",
            "enum": [
              "STATIC",
              "DYNAMIC"
            ]
          },
          "address": {
            "type": "string",
            "description": "Cryptocurrency wallet address"
          },
          "receivedValue": {
            "type": "number",
            "description": "Value received (if partial payment)"
          },
          "originalCryptoValue": {
            "type": "number",
            "description": "Original value in cryptocurrency"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Onchain",
      "description": "Endpoints for blockchain transactions and wallet operations"
    },
    {
      "name": "Crypto Pix",
      "description": "Endpoints for cryptocurrency to PIX payment operations"
    }
  ],
  "paths": {
    "/api/v1/onchain/deposit": {
      "post": {
        "tags": [
          "Onchain"
        ],
        "summary": "Create blockchain deposit order",
        "description": "Create a new blockchain deposit order and generate a wallet address for receiving funds.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "value",
                  "asset",
                  "network"
                ],
                "properties": {
                  "value": {
                    "type": "number",
                    "description": "The value in BRL to deposit",
                    "example": 1000
                  },
                  "asset": {
                    "type": "string",
                    "description": "The cryptocurrency asset type",
                    "enum": [
                      "USDT",
                      "USDC",
                      "DAI",
                      "BUSD"
                    ],
                    "example": "USDT"
                  },
                  "network": {
                    "type": "string",
                    "description": "Blockchain network to use",
                    "enum": [
                      "eth",
                      "bsc",
                      "polygon"
                    ],
                    "example": "bsc"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Deposit order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string",
                      "description": "Wallet address for the deposit",
                      "example": "0xabc123def456..."
                    },
                    "paymentLinkId": {
                      "type": "string",
                      "description": "Unique identifier for the payment",
                      "example": "dep_001234abcd"
                    },
                    "network": {
                      "type": "string",
                      "description": "Blockchain network used",
                      "example": "bsc"
                    },
                    "asset": {
                      "type": "string",
                      "description": "Cryptocurrency asset type",
                      "example": "USDT"
                    },
                    "amount": {
                      "type": "number",
                      "description": "The amount in cryptocurrency to be deposited",
                      "example": 200
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Rede blockchain não suportada"
                    },
                    "supportedNetworks": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": ["eth", "bsc", "polygon"]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Chave de API inválida ou não autorizada"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Ocorreu um erro ao processar sua solicitação"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/onchain/withdraw/initiate": {
      "post": {
        "tags": [
          "Onchain"
        ],
        "summary": "Initiate blockchain withdrawal",
        "description": "Start a blockchain withdrawal transaction from the user's wallet to a specified address.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "toAddress",
                  "value"
                ],
                "properties": {
                  "toAddress": {
                    "type": "string",
                    "description": "Destination wallet address",
                    "example": "0xabc123def456..."
                  },
                  "value": {
                    "type": "number",
                    "description": "The amount to withdraw",
                    "example": 500
                  },
                  "token": {
                    "type": "string",
                    "description": "The token to withdraw (defaults to USDT)",
                    "default": "USDT",
                    "enum": [
                      "USDT",
                      "USDC",
                      "DAI",
                      "BUSD"
                    ],
                    "example": "USDT"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Withdrawal initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Success message",
                      "example": "Withdrawal initiated successfully"
                    },
                    "transactionHash": {
                      "type": "string",
                      "description": "The blockchain transaction hash",
                      "example": "0x987defabc654321..."
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Indicates if the withdrawal was successful",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid request parameters"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized - Invalid App ID"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/onchain/order/{id}": {
      "get": {
        "tags": [
          "Onchain"
        ],
        "summary": "Retrieve blockchain order details",
        "description": "Retrieve information about a specific blockchain order by its payment link ID.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Payment link ID of the order",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0b664ca9-40a4-4692-80e7-f94392bbb4bf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "order": {
                      "type": "object",
                      "properties": {
                        "network": {
                          "type": "string",
                          "description": "Blockchain network used",
                          "enum": ["eth", "bsc", "polygon"],
                          "example": "bsc"
                        },
                        "value": {
                          "type": "number",
                          "description": "The value in BRL of the order",
                          "example": 100
                        },
                        "cryptoValue": {
                          "type": "number",
                          "description": "The value in cryptocurrency",
                          "example": 0.179
                        },
                        "address": {
                          "type": "string",
                          "description": "Cryptocurrency wallet address",
                          "example": "0xdC1bEaD90005669BbFc310624E3B22B2CeeE3D94"
                        },
                        "asset": {
                          "type": "string",
                          "description": "Cryptocurrency asset type",
                          "enum": ["USDT", "USDC", "DAI", "BUSD"],
                          "example": "USDT"
                        },
                        "status": {
                          "type": "string",
                          "description": "Current status of the payment",
                          "enum": [
                            "PENDING",
                            "COMPLETED",
                            "REFUNDED",
                            "PARTIAL_ORDER",
                            "FAILED"
                          ],
                          "example": "PENDING"
                        },
                        "metadata": {
                          "type": "object",
                          "properties": {
                            "orderId": {
                              "type": "string",
                              "example": "29fdcad5-836f-463f-b770-180bcd80da40"
                            },
                            "tokenAddress": {
                              "type": "string",
                              "example": "0x55d398326f99059ff775485246999027b3197955"
                            },
                            "network": {
                              "type": "string",
                              "example": "bsc"
                            },
                            "walletIndex": {
                              "type": "number",
                              "example": 1100429915
                            }
                          }
                        },
                        "paymentLinkId": {
                          "type": "string",
                          "description": "Unique identifier for the payment",
                          "example": "0b664ca9-40a4-4692-80e7-f94392bbb4bf"
                        },
                        "createdAt": {
                          "type": "string",
                          "description": "Creation timestamp",
                          "example": "2025-07-30T17:30:54.387Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Order not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/order/create": {
      "post": {
        "tags": [
          "Onchain"
        ],
        "summary": "Create Binance payment order",
        "description": "Generate a new Binance payment QR code for the specified amount.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "value"
                ],
                "properties": {
                  "value": {
                    "type": "number",
                    "description": "The payment amount in BRL",
                    "example": 500
                  },
                  "payerId": {
                    "type": "string",
                    "description": "Optional payer ID reference",
                    "example": "payer_12345"
                  },
                  "merchant": {
                    "type": "object",
                    "description": "Merchant information",
                    "properties": {
                      "subMerchantId": {
                        "type": "string",
                        "description": "Merchant identifier for the payment",
                        "example": "sub_merchant_001"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Order ID",
                      "example": "ord_001234abcd"
                    },
                    "paymentLinkId": {
                      "type": "string",
                      "description": "Unique payment link identifier",
                      "example": "pay_abc123xyz"
                    },
                    "value": {
                      "type": "number",
                      "description": "Payment amount in BRL",
                      "example": 500
                    },
                    "status": {
                      "type": "string",
                      "description": "Order status",
                      "enum": [
                        "PENDING",
                        "COMPLETED",
                        "CANCELLED",
                        "FAILED",
                        "REFUND"
                      ],
                      "example": "PENDING"
                    },
                    "qrCodeLink": {
                      "type": "string",
                      "description": "URL for the QR code image",
                      "example": "https://qrcode.cryptouse.com/abc123"
                    },
                    "link": {
                      "type": "string",
                      "description": "Payment URL for the user",
                      "example": "https://pay.cryptouse.com/pay_abc123xyz"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Order creation timestamp",
                      "example": "2025-06-01T12:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid request parameters"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized - Invalid App ID"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/order/create/lightning": {
      "post": {
        "tags": [
          "Onchain"
        ],
        "summary": "Create Lightning payment invoice",
        "description": "Generate a new Lightning payment invoice for the specified amount.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "value"
                ],
                "properties": {
                  "value": {
                    "type": "number",
                    "description": "The payment amount in BRL (will be converted to satoshis)",
                    "example": 50.00
                  },
                  "email": {
                    "type": "string",
                    "description": "Optional customer email",
                    "example": "cliente@exemplo.com"
                  },
                  "name": {
                    "type": "string",
                    "description": "Optional customer name",
                    "example": "João Silva"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Lightning invoice created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Success message",
                      "example": "Lightning invoice was successfully created"
                    },
                    "order": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Order ID",
                          "example": "688a5e459b11ce1a1a85e32a"
                        },
                        "paymentLinkId": {
                          "type": "string",
                          "description": "Unique payment link identifier",
                          "example": "98e56f6d-b600-48d2-a251-8c7b206958b2"
                        },
                        "value": {
                          "type": "number",
                          "description": "Payment amount in BRL",
                          "example": 5000
                        },
                        "status": {
                          "type": "string",
                          "description": "Order status",
                          "enum": [
                            "PENDING",
                            "COMPLETED",
                            "CANCELLED",
                            "FAILED",
                            "REFUND"
                          ],
                          "example": "PENDING"
                        },
                        "invoice": {
                          "type": "string",
                          "description": "Lightning Network invoice string",
                          "example": "Inbc75800n1p5g5hj9pp58x8fx94hdc19zxpn3ecxc349mkje27v738a981ztczeqq2y0cmvsdquf9h8vmmfvdjjqsmj09c8gmm4wdjscqzysxqzjhsp54qv2q6"
                        },
                        "link": {
                          "type": "string",
                          "description": "Payment URL for the user",
                          "example": "https://cryptouse.com.br/order/lightning/98e56f6d-b600-48d2-a251-8c7b206958b2"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Order creation timestamp",
                          "example": "2025-07-30T18:02:45.965Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "OpenNode API error: 400 Bad Request"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/order/create/pix": {
      "post": {
        "tags": [
          "Crypto Pix"
        ],
        "summary": "Create PIX payment QR code",
        "description": "Generate a new PIX payment QR code for the specified amount.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "value"
                ],
                "properties": {
                  "value": {
                    "type": "number",
                    "description": "The payment amount in BRL",
                    "example": 200
                  },
                  "name": {
                    "type": "string",
                    "description": "Customer name",
                    "example": "João Silva"
                  },
                  "orderRequest": {
                    "type": "string",
                    "description": "Order request reference",
                    "example": "req_987654321"
                  },
                  "merchant": {
                    "type": "string",
                    "description": "Merchant reference",
                    "example": "merchant_abc123"
                  },
                  "orderId": {
                    "type": "string",
                    "description": "Optional custom order ID",
                    "example": "order_123456"
                  },
                  "cnpj": {
                    "type": "string",
                    "description": "Company CNPJ number",
                    "example": "12345678000195"
                  },
                  "cpf": {
                    "type": "string",
                    "description": "Optional personal CPF number",
                    "example": "12345678901"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Success message",
                      "example": "order pix created"
                    },
                    "pixOrder": {
                      "type": "object",
                      "properties": {
                        "provider": {
                          "type": "string",
                          "description": "Payment provider",
                          "example": "MTBANK"
                        },
                        "hash": {
                          "type": "string",
                          "description": "Unique order hash",
                          "example": "order-1753899073445"
                        },
                        "merchant": {
                          "type": "string",
                          "description": "Merchant ID",
                          "example": "6884d2b4f4ea864855d89fce"
                        },
                        "value": {
                          "type": "number",
                          "description": "Payment amount in BRL",
                          "example": 200
                        },
                        "status": {
                          "type": "string",
                          "description": "Order status",
                          "enum": [
                            "PENDING",
                            "COMPLETED",
                            "CANCELLED",
                            "FAILED",
                            "REFUND"
                          ],
                          "example": "PENDING"
                        },
                        "currency": {
                          "type": "string",
                          "description": "Payment currency",
                          "example": "BRL"
                        },
                        "universalUrl": {
                          "type": "string",
                          "description": "Universal PIX URL",
                          "example": "00020101021226910014br.gov.bcb.pix2569qrcode.mtbank.com.br/spi/qr-code/cob/58ea8c4c14d644c2a95f4a4c2be706425204000053E"
                        },
                        "removedAt": {
                          "type": "string",
                          "nullable": true,
                          "description": "Removal timestamp if applicable",
                          "example": null
                        },
                        "_id": {
                          "type": "string",
                          "description": "Internal order ID",
                          "example": "688a68439b11ce1a1a85e450"
                        },
                        "paymentLinkId": {
                          "type": "string",
                          "description": "Unique payment link identifier",
                          "example": "d3d7bafe-2040-4f74-bddb-34823c6edcae"
                        },
                        "splits": {
                          "type": "array",
                          "description": "Payment splits array",
                          "example": []
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Order creation timestamp",
                          "example": "2025-07-30T18:11:15.151Z"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Order update timestamp",
                          "example": "2025-07-30T18:11:15.151Z"
                        },
                        "__v": {
                          "type": "number",
                          "description": "Document version",
                          "example": 0
                        }
                      }
                    },
                    "qrCode": {
                      "type": "string",
                      "description": "PIX QR code for payment",
                      "example": "00020101021226910014br.gov.bcb.pix2569qrcode.mtbank.com.br/spi/qr-code/cob/50ea8c4c14d644c2a95f4a4c2be706425204000053039865882BF"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Dados obrigatórios ausentes para MTBank"
                    },
                    "details": {
                      "type": "object",
                      "properties": {
                        "pixKey": {
                          "type": "string",
                          "example": "54e0c85c-55db-4e26-a32b-26b7532cddf2"
                        },
                        "identifier": {
                          "type": "string",
                          "example": "order-1753899088948"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/order/{id}": {
      "get": {
        "tags": ["Payment Order"],
        "summary": "Retrieve payment order details",
        "description": "Retrieve payment order details with the payment link identifier.",
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Payment link ID or payment identifier",
            "schema": {
              "type": "string",
              "example": "98e56f6d-b600-48d2-a251-8c7b206958b2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Success message",
                      "example": "Order retrieved successfully"
                    },
                    "order": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Order ID",
                          "example": "688a5e459b11ce1a1a85e32a"
                        },
                        "paymentLinkId": {
                          "type": "string",
                          "description": "Unique payment link identifier",
                          "example": "98e56f6d-b600-48d2-a251-8c7b206958b2"
                        },
                        "value": {
                          "type": "number",
                          "description": "Payment amount in BRL",
                          "example": 5000
                        },
                        "status": {
                          "type": "string",
                          "description": "Order status",
                          "enum": ["PENDING", "COMPLETED", "CANCELLED", "FAILED", "REFUND"],
                          "example": "PENDING"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Order creation timestamp",
                          "example": "2025-07-30T18:02:45.965Z"
                        },
                        "brcode": {
                          "type": "string",
                          "description": "PIX BR code (only for PIX orders)",
                          "example": "00020126360014BR.GOV.BCB.PIX0114+5581987654320..."
                        },
                        "qrCodeLink": {
                          "type": "string",
                          "description": "QR code URL (only for Binance orders)",
                          "example": "https://pay.binance.com/qrcode/abc123"
                        },
                        "invoice": {
                          "type": "string",
                          "description": "Lightning invoice (only for Lightning orders)",
                          "example": "Inbc75800n1p5g5hj9pp58x8fx94hdc19zzpn3ecxc349mkje27v738a981ztczeqq2y0cmvsdquf9h8vmmfvdjjqsmj09c8gmm4wdjscqzysxqzjhsp54qv2q6at8hges7cvsjtzhqfucdjqelhe5e184a4a3hn14sdcy"
                        },
                        "link": {
                          "type": "string",
                          "description": "Payment URL for the user",
                          "example": "https://cryptouse.com.br/order/lightning/98e56f6d-b600-48d2-a251-8c7b206958b2"
                        }
                      }
                    },
                    "openNodeDetails": {
                      "type": "object",
                      "description": "OpenNode details (only for Lightning orders)",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "description": "Indicates if the OpenNode query was successful",
                          "example": true
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Invoice ID in OpenNode",
                              "example": "fc1fb9a8-93c9-4a96-ba50-e9802e21bdbb"
                            },
                            "name": {
                              "type": "string",
                              "nullable": true,
                              "description": "Invoice name",
                              "example": null
                            },
                            "status": {
                              "type": "string",
                              "description": "Invoice status in OpenNode",
                              "example": "unpaid"
                            },
                            "currency": {
                              "type": "string",
                              "description": "Invoice currency",
                              "example": "BRL"
                            },
                            "created_at": {
                              "type": "number",
                              "description": "Invoice creation timestamp",
                              "example": 1753898565
                            },
                            "fee": {
                              "type": "number",
                              "description": "Invoice fee",
                              "example": 75
                            },
                            "notes": {
                              "type": "string",
                              "description": "Invoice notes",
                              "example": ""
                            },
                            "address": {
                              "type": "string",
                              "description": "Wallet address",
                              "example": "356w6JpBDS1YmnNxjmMcwhwAUxCZVJkLiQ"
                            },
                            "metadata": {
                              "type": "object",
                              "description": "Invoice metadata",
                              "example": {}
                            },
                            "fiat_value": {
                              "type": "number",
                              "description": "Value in fiat (BRL)",
                              "example": 5000
                            },
                            "amount": {
                              "type": "number",
                              "description": "Value in satoshis",
                              "example": 7580
                            },
                            "description": {
                              "type": "string",
                              "description": "Invoice description",
                              "example": "Invoice Cryptouse"
                            },
                            "auto_settle": {
                              "type": "boolean",
                              "description": "Indicates if the invoice is auto-settled",
                              "example": false
                            },
                            "transactions": {
                              "type": "array",
                              "description": "Array of transactions",
                              "example": []
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Order not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/crypto-pix/onchain/pay": {
      "post": {
        "tags": ["Crypto Pix"],
        "summary": "Convert cryptocurrency and make a PIX payment",
        "description": "Convert cryptocurrency and make a PIX payment using the QR code provided.",
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["qrcode", "network"],
                "properties": {
                  "qrcode": {
                    "type": "string",
                    "description": "The PIX QR code to be processed",
                    "example": "00020126360014BR.GOV.BCB.PIX0114+5581987654320..."
                  },
                  "network": {
                    "type": "string",
                    "description": "Blockchain network to use",
                    "enum": ["bsc", "eth"],
                    "example": "bsc"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment request created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "pixKey": {
                          "type": "string",
                          "description": "The PIX key of the recipient",
                          "example": "+5581987654320"
                        },
                        "payCryptoPixId": {
                          "type": "string",
                          "description": "Unique identifier for the payment",
                          "example": "pay_crypto_pix_abc123"
                        },
                        "value": {
                          "type": "number",
                          "description": "The value in BRL to be paid",
                          "example": 150
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid QR code or network"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/crypto-pix/order/get": {
      "post": {
        "tags": ["Crypto Pix"],
        "summary": "Get details of a crypto PIX payment order",
        "description": "Retrieve information about a specific crypto PIX payment by its ID.",
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id"],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The base64 encoded ID of the payment order",
                    "example": "cGF5X2NyeXB0b19waXhfYWJjMTIz"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment order details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "description": "The value in BRL of the payment",
                      "example": 150
                    },
                    "cryptoValue": {
                      "type": "number",
                      "description": "The value in cryptocurrency",
                      "example": 0.0025
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Last update timestamp",
                      "example": "2025-06-02T12:00:00Z"
                    },
                    "status": {
                      "type": "string",
                      "description": "Current status of the payment",
                      "enum": ["PENDING", "COMPLETED", "REFUNDED", "PARTIAL_ORDER", "FAILED"],
                      "example": "COMPLETED"
                    },
                    "network": {
                      "type": "string",
                      "description": "Blockchain network used for the payment",
                      "example": "bsc"
                    },
                    "address": {
                      "type": "string",
                      "description": "Cryptocurrency wallet address",
                      "example": "0x1234567890abcdef1234567890abcdef12345678"
                    },
                    "receivedValue": {
                      "type": "number",
                      "description": "Value received (if partial payment)",
                      "example": 0.001
                    },
                    "originalCryptoValue": {
                      "type": "number",
                      "description": "Original value in cryptocurrency",
                      "example": 0.0025
                    },
                    "partialUpdatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when partial payment was received",
                      "example": "2025-06-02T12:15:00Z"
                    },
                    "partialBrlValue": {
                      "type": "number",
                      "description": "Partial value in BRL",
                      "example": 60
                    },
                    "isPartial": {
                      "type": "boolean",
                      "description": "Whether the order is partially paid",
                      "example": true
                    },
                    "remaining": {
                      "type": "number",
                      "description": "Remaining value to be paid if partial",
                      "example": 90
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Payment order not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Payment order not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}