{
  "openapi": "3.0.3",
  "info": {
    "title": "cryptouse-server",
    "description": "cryptous-server",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.cryptouse.com.br",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "AppID": []
    }
  ],
  "paths": {
    "/api/v1/onchain/deposit": {
      "post": {
        "tags": [
          "Onchain"
        ],
        "summary": "Create a new deposit order",
        "description": "Create a new blockchain deposit order and generate a wallet address for receiving funds",
        "security": [
          {
            "appId": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "value",
                  "asset",
                  "network"
                ],
                "properties": {
                  "value": {
                    "type": "number",
                    "description": "The value in BRL to deposit"
                  },
                  "asset": {
                    "type": "string",
                    "description": "The cryptocurrency asset type",
                    "enum": [
                      "USDT",
                      "USDC",
                      "DAI",
                      "BUSD"
                    ]
                  },
                  "network": {
                    "type": "string",
                    "description": "Blockchain network to use",
                    "enum": [
                      "eth",
                      "bsc",
                      "polygon"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Deposit order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "order": {
                      "type": "object",
                      "properties": {
                        "address": {
                          "type": "string",
                          "description": "Wallet address for the deposit"
                        },
                        "paymentLinkId": {
                          "type": "string",
                          "description": "Unique identifier for the payment"
                        },
                        "network": {
                          "type": "string",
                          "description": "Blockchain network used"
                        },
                        "asset": {
                          "type": "string",
                          "description": "Cryptocurrency asset type"
                        },
                        "amount": {
                          "type": "number",
                          "description": "The amount in cryptocurrency to be deposited"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    },
                    "supportedNetworks": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Available networks (only included when network is invalid)"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/onchain/withdraw/initiate": {
      "post": {
        "tags": [
          "Onchain"
        ],
        "summary": "Initiate a withdrawal transaction",
        "description": "Start a blockchain withdrawal transaction from the user's wallet to a specified address",
        "security": [
          {
            "appId": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "toAddress",
                  "value"
                ],
                "properties": {
                  "toAddress": {
                    "type": "string",
                    "description": "Destination wallet address"
                  },
                  "value": {
                    "type": "number",
                    "description": "The amount to withdraw"
                  },
                  "token": {
                    "type": "string",
                    "description": "The token to withdraw (defaults to USDT)",
                    "default": "USDT",
                    "enum": [
                      "USDT",
                      "USDC",
                      "DAI",
                      "BUSD"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Withdrawal initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Success message"
                    },
                    "transactionHash": {
                      "type": "string",
                      "description": "The blockchain transaction hash"
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Indicates if the withdrawal was successful"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error information"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    },
                    "success": {
                      "type": "boolean",
                      "default": false,
                      "description": "Indicates if the operation was successful"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/onchain/order/{id}": {
      "get": {
        "tags": [
          "Onchain"
        ],
        "summary": "Get details of an onchain order",
        "description": "Retrieve information about a specific blockchain order by its payment link ID",
        "security": [
          {
            "appId": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Payment link ID of the order",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "order": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "number",
                          "description": "The value in BRL of the order"
                        },
                        "cryptoValue": {
                          "type": "number",
                          "description": "The value in cryptocurrency"
                        },
                        "status": {
                          "type": "string",
                          "description": "Current status of the payment",
                          "enum": [
                            "PENDING",
                            "COMPLETED",
                            "REFUNDED",
                            "PARTIAL_ORDER",
                            "FAILED"
                          ]
                        },
                        "paymentLinkId": {
                          "type": "string",
                          "description": "Unique identifier for the payment"
                        },
                        "address": {
                          "type": "string",
                          "description": "Cryptocurrency wallet address"
                        },
                        "paymentURI": {
                          "type": "string",
                          "description": "Payment URI for the transaction"
                        },
                        "receivedValue": {
                          "type": "number",
                          "description": "Value received (if partial payment)"
                        },
                        "originalCryptoValue": {
                          "type": "number",
                          "description": "Original value in cryptocurrency"
                        },
                        "receivedFrom": {
                          "type": "string",
                          "description": "Address that sent the payment"
                        },
                        "partialUpdatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Timestamp when partial payment was received"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Creation timestamp"
                        },
                        "metadata": {
                          "type": "object",
                          "properties": {
                            "orderId": {
                              "type": "string"
                            },
                            "tokenAddress": {
                              "type": "string"
                            },
                            "network": {
                              "type": "string"
                            },
                            "walletIndex": {
                              "type": "number"
                            }
                          }
                        },
                        "asset": {
                          "type": "string",
                          "description": "Cryptocurrency asset type"
                        },
                        "network": {
                          "type": "string",
                          "description": "Blockchain network used"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/order/create": {
      "post": {
        "tags": [
          "Application Order"
        ],
        "summary": "Create a new Binance payment order",
        "description": "Generate a new Binance payment QR code for the specified amount",
        "security": [
          {
            "appId": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "value"
                ],
                "properties": {
                  "value": {
                    "type": "number",
                    "description": "The payment amount in BRL"
                  },
                  "payerId": {
                    "type": "string",
                    "description": "Optional payer ID reference"
                  },
                  "merchant": {
                    "type": "object",
                    "properties": {
                      "subMerchantId": {
                        "type": "string",
                        "description": "Merchant identifier for the payment"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Success message"
                    },
                    "order": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Order ID"
                        },
                        "paymentLinkId": {
                          "type": "string",
                          "description": "Unique payment link identifier"
                        },
                        "value": {
                          "type": "number",
                          "description": "Payment amount in BRL"
                        },
                        "status": {
                          "type": "string",
                          "description": "Order status",
                          "enum": [
                            "PENDING",
                            "COMPLETED",
                            "CANCELLED",
                            "FAILED",
                            "REFUND"
                          ]
                        },
                        "qrCodeLink": {
                          "type": "string",
                          "description": "URL for the QR code image"
                        },
                        "link": {
                          "type": "string",
                          "description": "Payment URL for the user"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Order creation timestamp"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/order/create/lightning": {
      "post": {
        "tags": [
          "Application Order"
        ],
        "summary": "Create a new Lightning Network payment order",
        "description": "Generate a new Lightning payment invoice for the specified amount",
        "security": [
          {
            "appId": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "value"
                ],
                "properties": {
                  "value": {
                    "type": "number",
                    "description": "The payment amount in BRL (will be converted to satoshis)"
                  },
                  "email": {
                    "type": "string",
                    "description": "Optional customer email"
                  },
                  "name": {
                    "type": "string",
                    "description": "Optional customer name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Lightning invoice created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Success message"
                    },
                    "order": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Order ID"
                        },
                        "paymentLinkId": {
                          "type": "string",
                          "description": "Unique payment link identifier"
                        },
                        "value": {
                          "type": "number",
                          "description": "Payment amount in BRL"
                        },
                        "status": {
                          "type": "string",
                          "description": "Order status",
                          "enum": [
                            "PENDING",
                            "COMPLETED",
                            "CANCELLED",
                            "FAILED",
                            "REFUND"
                          ]
                        },
                        "invoice": {
                          "type": "string",
                          "description": "Lightning Network invoice string"
                        },
                        "link": {
                          "type": "string",
                          "description": "Payment URL for the user"
                        },
                        "satoshis": {
                          "type": "string",
                          "description": "Payment amount in satoshis"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Order creation timestamp"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/order/create/pix": {
      "post": {
        "tags": [
          "Application Order"
        ],
        "summary": "Create a new PIX payment order",
        "description": "Generate a new PIX payment QR code for the specified amount",
        "security": [
          {
            "appId": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "value",
                  "name"
                ],
                "properties": {
                  "orderRequest": {
                    "type": "string",
                    "description": "Order request reference"
                  },
                  "merchant": {
                    "type": "string",
                    "description": "Merchant reference"
                  },
                  "value": {
                    "type": "number",
                    "description": "The payment amount in BRL"
                  },
                  "orderId": {
                    "type": "string",
                    "description": "Optional custom order ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "Customer name"
                  },
                  "cnpj": {
                    "type": "string",
                    "description": "Company CNPJ number"
                  },
                  "cpf": {
                    "type": "string",
                    "description": "Optional personal CPF number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Success message"
                    },
                    "pixOrder": {
                      "type": "object",
                      "properties": {
                        "paymentLinkId": {
                          "type": "string",
                          "description": "Unique payment link identifier"
                        },
                        "value": {
                          "type": "number",
                          "description": "Payment amount in BRL"
                        },
                        "status": {
                          "type": "string",
                          "description": "Order status",
                          "enum": [
                            "PENDING",
                            "COMPLETED",
                            "CANCELLED",
                            "FAILED",
                            "REFUND"
                          ]
                        },
                        "brcode": {
                          "type": "string",
                          "description": "PIX BR code for payment"
                        },
                        "link": {
                          "type": "string",
                          "description": "Payment URL for the user"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Order creation timestamp"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/order/{id}": {
      "get": {
        "tags": [
          "Application Order"
        ],
        "summary": "Get order details by ID",
        "description": "Retrieve payment order details with the payment link identifier",
        "security": [
          {
            "appId": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Payment link ID or payment identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Success message"
                    },
                    "order": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Order ID"
                        },
                        "paymentLinkId": {
                          "type": "string",
                          "description": "Unique payment link identifier"
                        },
                        "value": {
                          "type": "number",
                          "description": "Payment amount in BRL"
                        },
                        "status": {
                          "type": "string",
                          "description": "Order status",
                          "enum": [
                            "PENDING",
                            "COMPLETED",
                            "CANCELLED",
                            "FAILED",
                            "REFUND"
                          ]
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Order creation timestamp"
                        },
                        "brcode": {
                          "type": "string",
                          "description": "PIX BR code (only for PIX orders)"
                        },
                        "qrCodeLink": {
                          "type": "string",
                          "description": "QR code URL (only for Binance orders)"
                        },
                        "invoice": {
                          "type": "string",
                          "description": "Lightning invoice (only for Lightning orders)"
                        },
                        "link": {
                          "type": "string",
                          "description": "Payment URL for the user"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/crypto-pix/onchain/pay": {
      "post": {
        "tags": [
          "Crypto Pix"
        ],
        "summary": "Process a payment from cryptocurrency to PIX",
        "description": "Convert cryptocurrency and make a PIX payment using the QR code provided",
        "security": [
          {
            "appId": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "qrcode",
                  "network"
                ],
                "properties": {
                  "qrcode": {
                    "type": "string",
                    "description": "The PIX QR code to be processed"
                  },
                  "network": {
                    "type": "string",
                    "description": "Blockchain network to use (e.g., bsc, eth)",
                    "enum": [
                      "bsc",
                      "eth"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment request created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "pixKey": {
                          "type": "string",
                          "description": "The PIX key of the recipient"
                        },
                        "payCryptoPixId": {
                          "type": "string",
                          "description": "Unique identifier for the payment"
                        },
                        "value": {
                          "type": "number",
                          "description": "The value in BRL to be paid"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/crypto-pix/order/get": {
      "post": {
        "tags": [
          "Crypto Pix"
        ],
        "summary": "Get details of a crypto PIX payment order",
        "description": "Retrieve information about a specific crypto PIX payment by its ID",
        "security": [
          {
            "appId": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The base64 encoded ID of the payment order"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment order details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayCryptoPix",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "description": "The value in BRL of the payment"
                    },
                    "cryptoValue": {
                      "type": "number",
                      "description": "The value in cryptocurrency"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Last update timestamp"
                    },
                    "status": {
                      "type": "string",
                      "description": "Current status of the payment",
                      "enum": [
                        "PENDING",
                        "COMPLETED",
                        "REFUNDED",
                        "PARTIAL_ORDER",
                        "FAILED"
                      ]
                    },
                    "network": {
                      "type": "string",
                      "description": "Blockchain network used for the payment"
                    },
                    "address": {
                      "type": "string",
                      "description": "Cryptocurrency wallet address"
                    },
                    "receivedValue": {
                      "type": "number",
                      "description": "Value received (if partial payment)"
                    },
                    "originalCryptoValue": {
                      "type": "number",
                      "description": "Original value in cryptocurrency"
                    },
                    "partialUpdatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when partial payment was received"
                    },
                    "partialBrlValue": {
                      "type": "number",
                      "description": "Partial value in BRL"
                    },
                    "isPartial": {
                      "type": "boolean",
                      "description": "Whether the order is partially paid"
                    },
                    "remaining": {
                      "type": "number",
                      "description": "Remaining value to be paid if partial"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Payment order not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "openapi": {
      "0": "3",
      "1": ".",
      "2": "0",
      "3": ".",
      "4": "3"
    },
    "info": {
      "title": "cryptouse-server",
      "description": "cryptouse-server",
      "version": "1.0.0"
    },
    "servers": {
      "0": {
        "description": "Production server"
      }
    },
    "security": {
      "0": {
        "AppID": []
      }
    }
  },
  "components": {
    "schemas": {
      "OrderOnChain": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "user": {
            "type": "string",
            "description": "User ID that owns this order"
          },
          "value": {
            "type": "number",
            "description": "The value in BRL of the order"
          },
          "cryptoValue": {
            "type": "number",
            "description": "The value in cryptocurrency"
          },
          "receivedValue": {
            "type": "number",
            "description": "Value received (if partial payment)"
          },
          "originalCryptoValue": {
            "type": "number",
            "description": "Original value in cryptocurrency"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment",
            "enum": [
              "PENDING",
              "COMPLETED",
              "REFUNDED",
              "PARTIAL_ORDER",
              "FAILED"
            ]
          },
          "network": {
            "type": "string",
            "description": "Blockchain network used for the transaction",
            "enum": [
              "eth",
              "bsc",
              "polygon"
            ]
          },
          "asset": {
            "type": "string",
            "description": "Cryptocurrency asset type",
            "enum": [
              "USDT",
              "USDC",
              "DAI",
              "BUSD"
            ]
          },
          "address": {
            "type": "string",
            "description": "Cryptocurrency wallet address"
          },
          "paymentLinkId": {
            "type": "string",
            "description": "Unique identifier for the payment link"
          },
          "paymentURI": {
            "type": "string",
            "description": "Payment URI for the transaction"
          },
          "receivedFrom": {
            "type": "string",
            "description": "Address that sent the payment"
          },
          "partialUpdatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when partial payment was received"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "orderId": {
                "type": "string"
              },
              "tokenAddress": {
                "type": "string"
              },
              "network": {
                "type": "string"
              },
              "walletIndex": {
                "type": "number"
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          }
        }
      },
      "PayCryptoPix": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "network": {
            "type": "string",
            "description": "Blockchain network used for the payment",
            "enum": [
              "bsc",
              "eth"
            ]
          },
          "value": {
            "type": "number",
            "description": "The value in BRL of the payment"
          },
          "originalValue": {
            "type": "number",
            "description": "The original value without fees"
          },
          "cryptoValue": {
            "type": "number",
            "description": "The value in cryptocurrency"
          },
          "pixQrcode": {
            "type": "string",
            "description": "The QR code content for the PIX payment"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment",
            "enum": [
              "PENDING",
              "COMPLETED",
              "REFUNDED",
              "PARTIAL_ORDER",
              "FAILED"
            ]
          },
          "pixKeyReceiver": {
            "type": "string",
            "description": "PIX key of the receiver"
          },
          "paymentReference": {
            "type": "string",
            "description": "Payment reference"
          },
          "pixKeyType": {
            "type": "string",
            "description": "Type of PIX key",
            "enum": [
              "STATIC",
              "DYNAMIC"
            ]
          },
          "address": {
            "type": "string",
            "description": "Cryptocurrency wallet address"
          },
          "receivedValue": {
            "type": "number",
            "description": "Value received (if partial payment)"
          },
          "originalCryptoValue": {
            "type": "number",
            "description": "Original value in cryptocurrency"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Onchain",
      "description": "Endpoints for blockchain transactions and wallet operations"
    },
    {
      "name": "Crypto Pix",
      "description": "Endpoints for cryptocurrency to PIX payment operations"
    }
  ]
}